<!DOCTYPE html>
<html>
  <head>
    <title>YausWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to_unless_current "Home", root_path %>
      <%= link_to_unless_current "Create new", new_link_entry_path %>
    </nav>
    <%= yield %>
  </body>
</html>
